/* Body and Background */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #879da8, #b2ceed, #606178);
    background-size: 200% 200%;
    animation: gradientAnimation 12s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Background Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Container */
.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Header */
header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/* Form Section */
.form-section {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

/* Button */
button {
    padding: 14px;
    background-color: #5d90b8; /* Match the background with a beautiful shade */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #537c9b; /* Slightly darker on hover for a nice effect */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
}

/* Response Section */
.result {
    text-align: center;
    margin-top: 20px;
}

.responses {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.responses p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #555;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #888;
}
